<!DOCTYPE html>

<html>

<head>
    <title>{{pageTitle}}</title>
    <!-- <link rel="icon" href="/img/FILENAME.png"> -->
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="http://livejs.com/live.js"></script>
</head>
	<header><button id="new">Add</button></header>
	<div id="sidebar">

	</div>
	<div id="taskview">
		<div id="task" data-taskId="">
			<h2 id="taskTitle"></h2>
			<p id="taskBody"></p>
		</div>
	</div>
	<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <input type="text" id="newTitle"><br>
    <input type="text" id="newContent"><br>
    <button id="newSave">Save</button><button id="newCancel">Cancel</button>
  </div>

</div>


<body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>